@import './font-awesome.min.css';

body {
    background: url(https://cdn.shopify.com/s/files/1/0285/1316/products/w0284_1s_Black-and-White-Floral-Pattern-Wallpaper-for-Walls-Sketch-Floral_Repeating-Pattern-Sample-1.jpg?v=1604089102);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    box-shadow: 5px 10px 12px 10px rgb(8, 160, 8);
    background: rgb(220, 224, 221);
    max-width: 600px;
    margin-top: 4rem;
    padding: 2rem;
    
}

.list-heading {
    text-align: center;
}

.messages {
    display: none;
}

.messages.show {
    display: block;
}

.mark-done {
    text-decoration: none;
}

.mark-done.done {
    text-decoration: line-through;
}

#content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content ul>li {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

.actions {
    padding-top: 15px;
}

.edit-mode {
    background: rgb(255, 245, 187);
}

.btn {
    display: block;
    float: right;
    margin: 3px;
    padding: 3px 3px;
}

.form-group {
    text-transform: uppercase;
    font-weight: bold;
    color: green;
}

h1 {
    font-family:'Courier New', Courier, monospace; 
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black,
    0 0 25px green,
    0 0 5px darkgreen;
}