@import './font-awesome.min.css';

body {
    background: url(https://cdn.shopify.com/s/files/1/0285/1316/products/w0284_1s_Black-and-White-Floral-Pattern-Wallpaper-for-Walls-Sketch-Floral_Repeating-Pattern-Sample-1.jpg?v=1604089102);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: rgb(220, 224, 221);
    max-width: 1000px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 2rem;
    
}

.list-heading {
    text-align: center;
}

.messages {
    display: none;
}

.messages.show {
    display: block;
    width: 70%;
    margin-top: 25px;
    background-color: rgb(8, 160, 8);
    font-size: 20px;
    text-align: center;
    color: black;
}

.messages.show-alert {
    display: block;
    width: 70%;
    margin-top: 25px;
    background-color: red;
    font-size: 20px;
    text-align: center;
    color: black;
}

.mark-done {
    text-decoration: none;
}

.mark-done.done {
    text-decoration: line-through;
}

#content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content ul>li {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

.actions {
    padding-top: 15px;
}

.edit-mode {
    background: rgb(255, 245, 187);
}

.btn {
    display: block;
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 3px 3px;
}

.form-group {
    text-transform: uppercase;
    font-weight: bold;
    color: green;
}

h1 {
    font-family:'Courier New', Courier, monospace; 
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black,
    0 0 25px green,
    0 0 5px darkgreen;
}
.orderForm{
    margin-bottom: 50px;
}
.specialPrice{
    font-size: 20px;
    font-weight: bold;
    color: red;
    font-style: italic;
}

.originalPrice {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}

.name{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.totals{

    margin-top: 25px;
    font-size: 20px;
    color: red;
}
.btn btn-primary {
    display: block;
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 3px 3px;
}
#newOrderForm {
    display: none;
}

#newOrderForm.show {
    display: block;
}

.actions {
    padding-top: 2rem;
}
.add-new-order{
  margin-top: 0px;
}

.client{
    font-weight: bold;
    
}
.product {
    font-weight: bold;
    color: green;
}
.orders-info{
    margin-bottom: 20px;
    color: green;
    text-transform: uppercase;
    font-size: 20px;
}